# venv & Python
.venv/
.anaconda/
__pycache__/
*.pyc
*.pyo
*.pyd

# data
/data/*
!/data/.gitkeep

# notebooks/outputs
*.ipynb_checkpoints/
.DS_Store

# mkdocs site build
/site/
src/rs3_study_curvature.egg-info/
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
